#wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

#map{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#info-bubble{
	position: absolute;
	width: 400px;
	right: 20px;
	bottom: 20px;
	border-radius: 20px;
	background-color: white;
	padding: 10px;
	display: none;
}

#info-bubble h3{
	margin: 0;
}

#info-bubble hr{
	color: black;
	border-color: black;
	height: 4px;
	margin: 0;
	margin-bottom: 10px;
}

#timeline-container{
	position: absolute;
	padding: 10px;
	width: 40%;
	bottom: 10px;
	margin-left: 30%;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
}