#info-b{
	position: fixed;
	width: 20%;
	right: 20px;
	top: 20px;
	height: 38%;
	overflow: hidden;
	display: none;
}

#info-b .panel-heading{
	background-color: rgba(40, 40, 40, 1);
	height: 27%;
	color: white;
}

#info-b .panel-body{
	background-color: rgba(20, 20, 20, 0.9);
	color: white;
	position: relative;
	max-height: 73%;
	overflow: auto;
}

#info-b .list-group .list-group-item{
	display: flex;
	justify-content: space-between;
	background-color: rgba(40, 40, 40, 1);
}

#info-b .list-group .list-group-item:hover{
	background-color: rgba(150, 150, 150, 1);
	color: rgba(20, 20, 20, 1);
	cursor: hand;
	cursor: pointer;
}