#menu-container{
	position: absolute;
	width: 20%;
	left: 20px;
	bottom: 0;
	max-height: 56%;
	height: 56%;
	background-color: rgba(20, 20, 20, 0.9);
	display: none;
}

#menu-container .panel-heading{
	background-color: rgba(40, 40, 40, 1);
	color: white;
}

#menu-container .panel-body{
	color: white;
}

#menu-tab-filter .filter-value-container{
	margin-top: 8px;
	display: flex;
	justify-content: space-between;
}